/* Стили для страницы каталога */
.filters {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters input[type="text"],
.filters select {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filters button {
    padding: 10px 20px;
    background-color: #298360;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #1a6041;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.product-card h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #222;
}

.product-card p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}

.product-card .price {
    margin-top: 10px;
    font-size: 20px;
    color: #298360;
    font-weight: bold;
}

/* Кнопка "Смотреть" */
 .btn-more{
    display: inline-block;
    margin-top: 10px;
    padding: 7px 15px;
    background-color: #298360;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-more:hover {
    background-color: #1a6041;
}
h2{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}